run = "python server.py"
entrypoint = "server.py"

[nix]
channel = "stable-23_11"

[env]
FLASK_ENV = "production"

[deployment]
run = ["sh", "-c", "pip install -r requirements.txt -q && python server.py"]
deploymentTarget = "cloudrun"

[packager]
language = "python3"

  [packager.features]
  packageSearch = true
  guessImports = true
  enabledForHosting = true
